<div class="container text-center">
    <h1 class="mt-5 mb-4">Application</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Hour Calculator</h5>
                  <p class="card-text">Enter the start time and end time to calculate the time difference.</p>
                  <a routerLink="/time-difference-calculator" class="btn btn-primary">Go to app</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Calculate Your Charges Hourly</h5>
                  <p class="card-text">Enter the amount per hour, then input the number of days. Display day-wise hours and minutes. Click on 'Calculate Total' to obtain the total amount based on the hourly charge and the total hours and minutes.</p>
                  <a routerLink="/hourly-charge-calculator" class="btn btn-primary">Go to app</a>
                </div>
            </div>
        </div>
    </div>
</div>