<div class="container text-center">
    <h1 class="mt-5 mb-4">Application</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Time Calculator (Hour Minute Calculator)</h5>
                  <p class="card-text">Online Time Calculator: Converts between hh:mm:ss.ms and decimal formats, and performs various time calculations like adding, subtracting, and converting between hours, minutes, and seconds.</p>
                  <a routerLink="/time-calculator" class="btn btn-primary">Go to app</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Time Calculator (Hour Minute difference Calculator)</h5>
                  <p class="card-text">Calculate the time difference by entering the start and end times, it will return total hours, minutes.</p>
                  <a routerLink="/time-difference-calculator" class="btn btn-primary">Go to app</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Calculate Your Charges Hourly</h5>
                  <p class="card-text">Enter the amount per hour, then input the number of days. Display day-wise hours and minutes. Click on 'Calculate Total' to obtain the total amount based on the hourly charge and the total hours and minutes.</p>
                  <a routerLink="/hourly-charge-calculator" class="btn btn-primary">Go to app</a>
                </div>
            </div>
        </div>
    </div>
</div>